html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 10px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  list-style: none;
  padding: 0;
  max-width: 640px;
}

.box li {
  display: block;
  border: 1px solid gray;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px gray;
  flex: 1 0 auto;
  width: 100%;
}

label {
  display: block;
}

textarea {
  width: 100%;
}

blockquote {
  margin-left: 20px;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: lightcyan;
}